# Ignore virtual environments
venv/

# Ignore IDE files (if using PyCharm, VSCode, etc.)
.idea/
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db
